<h1>Lists</h1>
<ul>
  <% @lists.each do |list| %>
    <li>
      <%= link_to list.name, list_path(list)%>
      <%= link_to "Delete list", list_path(list), method: :delete, data: { confirm: "segurito?"} %>
    </li>
  <% end %>
</ul>

<%= link_to 'Add list', new_list_path %>
